<h1 class="brain">
        <ahref="https://fontmeme.com/fonts/neon-lights-font/"><img src="https://fontmeme.com/permalink/201019/6284e4c4628462defe51a797ae977614.png" alt="neon-lights-font"></a></h1>

{{!-- <div class="container">
  <div class="row">
    <div class="col-md-6"> --}}
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    {{!-- </div>
  </div> --}}


  <div class="row">
    <div class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    {{!-- </div>
  </div>
</div> --}}


<h2 class="addB"> Add a Burger</h2>
<form class="create-form addForm">

  <div class="form-group addForm">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button class="addButt" type="submit">Add Burger</button>
</form>