body {
    background-image: url("../images/burgerback1.jpg");
}

.brain {
    text-align: center;
     margin-bottom: 60px;
}


.boo {
    margin: 0px;
    box-shadow: 0 0 8px 1px;
    background-color: whitesmoke;
    border: 1px solid #ffffff;
    border-radius: 25px;
    padding: 25px;
    opacity: 0.7;
  }

  .noD, .yesD, .addBurger {
      display: inline-table;
      margin: 40px;
  }

 .card-title{
     font-size: 30PX;
     text-align: center;
     color: white;
 }

 .change-devour, .delete-burger{
     margin: 3px;
   color: black;
    background-color: white;
    border-radius: 15px;
 }

 .rec{
    border-radius: 15px;
     background-color: white;
 }

 .addButton{
    border-radius: 15px;
 }